$primary-color: #1da3dc;
$small-color: #949494;
$border-color: #dcd9d9;
$test-color: #0ff;
$black:#000;
$bg-c: #fefefe;
$tag-c: #949494;
$white:#fff;
$card-shadow: rgba(0, 0, 0, .05);
$btn-hover-c:#03468e;
$title-color:#c8c8c8;
$input-place-color:#b4b4b4;
// $breakpoints: (
//   'medium': (min-width: 800px),
//   'large': (min-width: 1000px),
//   'huge': (min-width: 1200px),
// );

$small: 576px;
$medium: 768px;